﻿@page
@model PublicisDigitasFront.Pages.Administrador.ActualizaModel
@{
}

    <div class="card-header">Registrar receta</div>
    <div class="card-body">
        <form id="actualizaReceta">
            <div class="form-group row">
                <label for="CookingRecipeId" class="col-md-3 col-form-label text-md-right">#Id</label>
                <div class="col-md-9">
                    <input type="text" id="CookingRecipeId" class="form-control" name="CookingRecipeId-Receta" disabled autofocus>
                </div>
             </div>

            <div class="form-group row">
                <label for="RctName" class="col-md-3 col-form-label text-md-right">Nombre</label>
                <div class="col-md-9">
                    <input type="text" id="RctName" class="form-control" name="nombre-Receta" required autofocus>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="RctDescription" class="col-md-3 col-form-label text-md-right">Descripción</label>
                <div class="col-md-9">
                    <input type="text" id="RctDescription" class="form-control" name="descripcion-Receta" required autofocus>
                </div>
            </div>

            <div class="form-group row">
                <label for="RctCooking" class="col-md-3 col-form-label text-md-right">Proceso</label>
                <div class="col-md-9">
                    <textarea type="text" id="RctCooking" class="form-control" name="proceso-Receta" required></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="RctImage" class="col-md-3 col-form-label text-md-right">Imagen</label>
                <div class="col-md-9">
                    <input type="text" id="RctImage" class="form-control" name="imagen-Receta" value="mole_olla.jpg"  required>
                </div>
            </div>

            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Actualiza
                </button>
            </div>
        </form>

        <script src="~/js/actualiza.js" asp-append-version="true"></script>
