﻿@page
@model PublicisDigitasFront.Pages.Administrador.InformacionModel
@{
}

<div class="card-header">Portal para la administracion de recetas</div>
<div class="card-body">

  <button class="btn btn-primary" style="margin-bottom:2em"  onclick="location.href='/Administra/Registra'">Nueva</button>

  <center>
  <table id="tblRecetas" class="table table-striped hover  order-column selected" style="width: 750">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Creación</th>
      <th scope="col">Modificación</th>
      <th scope="col">Modificar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</center>
</div>

<script src="~/js/administra.js" asp-append-version="true"></script>

