﻿@page
@model PublicisDigitasFront.Pages.Administrador.RegistroModel
@{
}

    <div class="card-header">Registrar receta</div>
    <div class="card-body">
        <form id="registraReceta">
            <div class="form-group row">
                <label for="email_address" class="col-md-3 col-form-label text-md-right">Nombre</label>
                <div class="col-md-9">
                    <input type="text" id="RctName" class="form-control" name="nombre-Receta" required autofocus>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="email_address" class="col-md-3 col-form-label text-md-right">Descripción</label>
                <div class="col-md-9">
                    <input type="text" id="RctDescription" class="form-control" name="descripcion-Receta" required autofocus>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-3 col-form-label text-md-right">Proceso</label>
                <div class="col-md-9">
                    <textarea type="text" id="RctCooking" class="form-control" name="proceso-Receta" required></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-3 col-form-label text-md-right">URL Imagen</label>
                <div class="col-md-9">
                    <input type="text" id="RctImage" class="form-control" name="imagen-Receta" required>
                </div>
            </div>

            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Registrar
                </button>
            </div>
        </form>

        <script src="~/js/registra.js" asp-append-version="true"></script>

</div>

