﻿@page
@model PublicisDigitasFront.Pages.Login.IniciaSesionModel
@{
}
    <div class="card-header">Iniciar sesion</div>
    <div class="card-body">
        <form id="login">
            <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-right">Correo electronico</label>
                <div class="col-md-6">
                    <input type="text" id="email_address" class="form-control" name="email-address" required autofocus>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                <div class="col-md-6">
                    <input type="password" id="password" class="form-control" name="password" required>
                </div>
            </div>

            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Iniciar sesion
                </button>
                <a href="../Login/Registra" class="btn btn-link">
                    Nuevo usuario
                </a>
            </div>
        </form>
</div>

<script src="~/js/login.js" asp-append-version=true></script>