﻿@page
@model PublicisDigitasFront.Pages.LoginModel
@{
}

<div class="card-header">Registrar</div>
    <div class="card-body">
        <form id="registra">
              <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label text-md-right">Nombre</label>
                <div class="col-md-6">
                    <input type="text" id="name" class="form-control" name="name" required autofocus>
                </div>
            </div>

            <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-right">Correo electronico</label>
                <div class="col-md-6">
                    <input type="text" id="email_address" class="form-control" name="email-address" required autofocus>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                <div class="col-md-6">
                    <input type="password" id="password" class="form-control" name="password" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="re-password" class="col-md-4 col-form-label text-md-right">Re-Contraseña</label>
                <div class="col-md-6">
                    <input type="password" id="re-password" class="form-control" name="re-password" required>
                </div>
            </div>
                
            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Iniciar sesion
                </button>                
            </div>
        </form>
</div>

<script src="~/js/login.js" asp-append-version=true></script>