﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Bienvenido";
}

<div id="portada" class="seccion-portada d-none" style="padding-bottom: 2em" >
    <h5 class=text-center id="tituloPrincipal">Macarrones con queso</h5>
    <img id="imagenPrincipal" style="width:70%" src="https://www.cocinacaserayfacil.net/wp-content/uploads/2020/03/Recetas-faciles-de-cocinar-y-sobrevivir-en-casa-al-coronavirus_2.jpg" class="rounded mx-auto d-block" alt="..." >
    <span id="descripcionPrincipal">Descripcion de la elaboracion de la receta Descripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la receta
        Descripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la receta
        Descripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la recetaDescripcion de la elaboracion de la receta
    </span>

</div>


<center>
    <div class="carosel-dimensions d-none" id="caroselDimensions" >
        <h5 class=text-center>Recetas mas populares</h5>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img id="imagenCarosel1" src="https://www.cocinacaserayfacil.net/wp-content/uploads/2020/03/Recetas-faciles-de-cocinar-y-sobrevivir-en-casa-al-coronavirus_2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 id="tituloCarosel1">First slide label</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img id="imagenCarosel2" src="https://www.cocinacaserayfacil.net/wp-content/uploads/2020/03/Recetas-faciles-de-cocinar-y-sobrevivir-en-casa-al-coronavirus_2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 id="tituloCarosel2">Second slide label</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img id="imagenCarosel3" src="https://www.cocinacaserayfacil.net/wp-content/uploads/2020/03/Recetas-faciles-de-cocinar-y-sobrevivir-en-casa-al-coronavirus_2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 id="tituloCarosel3">Third slide label</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
    </div>
</center>

<script src="~/js/index.js" asp-append-version=true></script>