﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Remplazo de clases bootstrap
-------------------------------------------------- */

.jumbotron {
    background-color: transparent !important;
    padding: 2rem 2rem !important; 
}

.carousel-control-prev,
.carousel-control-next {
    background: 0,0;
    border: 0;
}

.carosel-dimensions {
    width: 70%;
    max-width: 450px;
}

.card {
    border:0
}

.card-header {
    background-color: #e1dddd !important;
}

.bg-receta {
    background-color: #e1dddd !important;
}

    /* Datatables
-------------------------------------------------- */


.dt-cell-right {
    text-align: right !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.dt-cell-left {
    text-align: left !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.limite-superado {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px
}

.limite-nombre {
    max-width: 150px
}

.limite-descripcion {
    max-width: 250px
}